.movie-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.movie-card__wrap {
  display: flex;
  flex-direction: column;
}

.movie-card__poster {
  width: 200px;
  height: 280px;
  object-fit: cover;
  border: 1px solid var(--gray);
  border-bottom: none;
}

.movie-card__text-wrap {
  width: 200px;
  height: 55px;
  padding: 7px;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-card__vote-average {
  font-weight: 400;
}
