.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card-wrap{
    display: flex;
    flex-direction: column;
    
}

.poster{
    width: 200px;
    height: 280px;
    object-fit: cover;
    border: 1px solid #c9c8c4;
    border-bottom: none;
}

.text-wrap{
    height: 55px;
    padding: 7px;
    border: 1px solid #c9c8c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vote-average{
    font-weight: 400;
}