.detail-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
}

.detail-wrap{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 900px;
}

.detail-poster{
    object-fit: cover;
}

.detail-text-wrap{
    /* border: 1px solid blue; */
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-title-wrap{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.detail-genres{
    /* border: 1px solid purple; */
}

