.movie-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.movie-detail__wrap {
  /* border: 1px solid red; */
  /* border-radius: 3px; */
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 900px;
}

.movie-detail__poster {
  object-fit: cover;
}

.movie-detail__text-wrap {
  /* border: 1px solid blue; */
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-detail__title-wrap {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

/* .movie-detail__genres {
  border: 1px solid purple;
} */
