.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up__container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}
.sign-up__title {
  margin-bottom: 20px;
  cursor: default;
}

.sign-up__input-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.sign-up__form-wrap {
  display: flex;
  flex-direction: column;
}

.sign-up__input {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 10px;
  width: 30vw;
}
.sign-up__input::placeholder {
  color: var(--gray);
}
.sign-up__input:focus {
  outline: none;
}

.sign-up__button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
